NODE_ENV=development
DATABASE_URL=data/sample.db
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_BASE_URL=http://localhost
BREVO_API_KEY=your_brevo_api_key_here
BREVO_FROM_ADDRESS=noreply@example.com
BREVO_NEW_USER_ADDRESS=admin@example.com
CRON_SECRET=your-cron-secret-key-here
APP_URL=http://localhost
FLY_API_TOKEN=your_fly_api_token_here